/**
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@import "~bootstrap/scss/variables";

p {
  margin: 0 0 1em;
}

p + p {
  margin-top: 10px;
}

h1 {
  margin-top: $spacer * 1.5;
  font-weight: bold;
}

h2 {
  margin-top: $spacer * 1.35;
}

html {
  font-size:5.625vw;
  font-weight:400;
}

@media (min-width: 320px) {
  html {
    font-size:17px
  }
}

@media (min-width: 900px) {
  html {
    font-size:16px
  }
}

@media print {
  html {
    font-size:14px
  }
}

main.markdown-output {
  padding: 0 1rem;
}

main.markdown-output ul,
main.markdown-output ol,
main.markdown-output h1,
main.markdown-output h2,
main.markdown-output h3,
main.markdown-output h4,
main.markdown-output h5,
main.markdown-output h6,
main.markdown-output div,
main.markdown-output p {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

main.markdown-output figure,
main.markdown-output img {
  margin-left: auto;
  margin-right: auto;
  width: 45rem;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height:1.2em;
  margin-top:1.2em;
  margin-bottom:0.4em;
}

h1 {
  line-height:1em
}

h1 + h2,
h2 + h3,
h3 + h4,
.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4 {
  margin-top: 0.3rem;
}

figcaption {
  font-style: italic;
  color: #808080;
}

@media (prefer-color-scheme: dark) {
  figcaption {
    color: rgb(212, 212, 212);
  }
}

b, strong {
  font-weight: 500;
}

aside {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}

/** Hacks for bad websites */

BODY, A.dirfile, A.dirfolder {
  font-family: $font-family-sans-serif;
}

